<template name="questionEdit">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
           <div class="col-md-10">
             <h3 class="panel-title" name="question-title-{{qnumber}}">Question #{{qnumber}}</h3>
           </div>
           <div class="col-md-2">
             <button type="button" class="close">
               <span class="glyphicon glyphicon-remove" id="delete-{{qnumber}}"></span>
             </button>
           </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="control-group full-width">
            <div class="controls full-width">
              <textarea class="form-control full-width" name="question-text-{{qnumber}}" placeholder="Enter text...">{{this.title}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>