<template name="welcome">
  <div class="jumbotron">
    <h1>Welcome to Survoyeur</h1>
    <p class="lead">This application is totally awesome.</p>
    <p>Whilst each survey is underway, you'll be able to see the average of everyone's rating for each question, and perhaps even
    whatever witty remarks they care to have shared with us. What could possibly be more exciting?</p>
    <p>You can see the code <a href="https://github.com/knirirr/survoyeur" target="_blank">here</a>.</p>
    <p><a class="btn btn-lg btn-success" href="{{pathFor 'surveyList'}}" role="button">Show me the surveys!</a></p>
  </div>
</template>
