/* CSS declarations go here */



#spinner { height: 350px }

/*
.navbar {
    margin-bottom: 10px; }
.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; }



body {
    background: #eee;
    color: #666666; }
*/

.controls {
    text-align: center;
}

.grid-block, .main, .question {
    background: #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.question {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1; }
.question:before, .question:after {
    content: "";
    display: table; }
.question:after {
    clear: both; }
.question.invisible {
    opacity: 0; }
.question .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
.question .question-content {
    float: left; }
.question .question-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px; }
.question .question-content h3 a {
    display: inline-block;
    margin-right: 5px; }
.question .question-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa; }
.question .question-content p {
    margin: 0; }
.question .discuss {
    display: block;
    float: right;
    margin-top: 7px; }
