<template name="surveyItem">
  <div class="jumbotron">
    <h2>{{this.title}}</h2>
    <p class="lead">This survey seeks your opinion on the relative awesomeness of pies and cakes. These, together with beer and whisky, form the only feast a gentleman need consider.</p>
  </div>
  <form name="questions" class="question-form">
    {{#each questions}}
      {{> questionItem }}
    {{/each}}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-lg btn-success">Save answers</button>
      </div>
    </div>
  </form>
</template>