<template name="surveyItemSummary">
  <div class="panel panel-primary">
    <div class="panel-heading">Results for survey &ldquo;{{this.title}}&rdquo;</div>
    <div class="panel-body">
      <p>The results can be seen below, coming in live.</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Questions</th>
          <th>Answers received</th>
          <th>Current rating</th>
        </tr>
      </thead>
      <tbody>
        {{#each questions}}
          {{> questionSummaryItem }}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div id="answers">
    {{#each questions}}
      {{> questionAnswerItem}}
    {{/each}}
  </div>
  <div class="text-center">
    <a class="btn btn-success" href="{{pathFor 'surveyList'}}">Back to the list of surveys</a>
  </div>
</template>