<template name="surveyItemSummary">
  <div class="panel panel-primary">
    <div class="panel-heading">Results for survey &ldquo;{{this.title}}&rdquo;</div>
    <div class="panel-body">
      <p>The results can be seen below, coming in live. You may comment on anyone's answer by clicking on the comment
      button next to each post (shaped like a pencil). </p>
    </div>
    <table class="table" id="results-summary">
      <thead>
        <tr>
          <th>Questions</th>
          <th>Answers received</th>
          <th>Current rating</th>
        </tr>
      </thead>
      <tbody>
        {{#each questions}}
          {{> questionSummaryItem }}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if isLoggedIn }}
    <div id="answers">
      {{#each questions}}
        {{> questionAnswerItem}}
      {{/each}}
    </div>
  {{/if}}

  {{#if isAdminUser }}
    <div class="text-center">
      <div class="btn-group-lg">
        <a class="btn btn-success" href="{{pathFor 'surveyList'}}">Back to the list of surveys</a>
        <button class="btn btn-primary" id="download">Download as text</button>
      </div>
    </div>
  {{else}}
    <div class="text-center">
      <a class="btn btn-success" href="{{pathFor 'surveyList'}}">Back to the list of surveys</a>
    </div>
  {{/if}}
</template>