<template name="surveyItemSummary">
  <div class="panel panel-primary">
    <div class="panel-heading">Results for survey &ldquo;{{this.title}}&rdquo;</div>
    <div class="panel-body">
      <p>The results can be seen below, coming in live. You may comment on anyone's answer by clicking on the comment
      button next to each post (shaped like a pencil). </p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Questions</th>
          <th>Answers received</th>
          <th>Current rating</th>
        </tr>
      </thead>
      <tbody>
        {{#each questions}}
          {{> questionSummaryItem }}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{#if isLoggedIn }}
    <div id="answers">
      {{#each questions}}
        {{> questionAnswerItem}}
      {{/each}}
    </div>
  {{/if}}
  <div class="text-center">
    <a class="btn btn-success" href="{{pathFor 'surveyList'}}">Back to the list of surveys</a>
  </div>
</template>